// Colors
$background-dark: #252627;
$evaluated-unevaluated: #9c9c9c;
$evaluated-correct: #009b68;
$evaluated-wrong-spot: #c7c005;
$evaluated-incorrect: #3c3c3c;
$dark-border: #111111;


$text-color-white: #FFFFFF;
$text-color-enabled: #FEFEFE;
$text-color-disabled: #999999;