// Colors
$background-dark: #252627;
$background-darker: #1a1a1b;
$background-dark-semi-transparent: rgba(37, 38, 39, 0.5);
$evaluated-unevaluated: #9c9c9c;
$evaluated-unevaluated-dark: #686868;
$evaluated-correct: #009b68;
$evaluated-correct-dark: #006745;
$evaluated-wrong-spot: #c7c005;
$evaluated-wrong-spot-dark: #797500;
$evaluated-incorrect: #3c3c3c;
$dark-border: #111111;
$wrong-red: rgb(228, 97, 97);



$text-color-white: #FFFFFF;
$text-color-enabled: #FEFEFE;
$text-color-disabled: #999999;