#blurdle-keyboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 400px;

    .blurdle-keyboard-row {
        display: grid;
        column-gap: 4px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        margin-bottom: 2px;
        overflow-x:visible;

        &.blurdle-keyboard-row_1 {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            width: 90%;
            max-width: 400px;
        }

        &.blurdle-keyboard-row_2 {
            grid-template-columns: 1.55fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.55fr;
        }
    }
}

