#blurdle-keyboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 2em);
    max-width: 375px;

    .blurdle-keyboard-row {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 6px;
        overflow-x:visible;
    }
}

